spring:
  application:
    name: producto-service
  datasource:
    url: jdbc:mysql://localhost:3306/db_producto
    username: root
    password: mysql
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false
        spring.json.value.default.type: com.rafael0117.producto_service.kafka.events.ProductChangedPayload
    topic:
      product-changed: product-events   # <- usar el tópico que ya existe

kafka:
  enabled: true
  # ⚠️ Debe coincidir con carrito-service

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: { }

server:
  port: 8181

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
  service-url:
    defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true


jwt:
  secret: TuClaveSuperSecretaMuyLarga1234567890_ChangeMe_32chars_min

cors:
  allowed-origins: "http://localhost:4200"
